
html,body
{
    overflow: hidden;
}

*
{
    border-radius: 15px;
}

.content
{
    padding: 3% 5% 5% 5%;
}

.header
{
    overflow: hidden;
    position: fixed;
    width: 90%;
    background-color: #f1f1f1;
}

.container
{
    display: flex;
}

.main
{
    overflow-y: scroll;
    flex: 12;
    height: 77vh;
    margin-top: 8%;
}

/* Hide scrollbar */

.main::-webkit-scrollbar, .aside::-webkit-scrollbar {
    display: none;
}

.main, .aside {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.tile
{
    background-color: burlywood;
    flex: 1;
    margin: 1.5%;

    position: relative;
    display: block;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 15px 35px #3d2173a1;
    transition: all ease 0.4s;
}

.tile:hover
{
    box-shadow: none;
    transform: scale(1.1) translateY(5px);
}

.aside
{
    flex: 5;
    margin-top: 7%;
    margin-right: 4.5%;
    background-color: skyblue;
    height: 77vh;
    width: 25%;
    position: fixed;
    right: 0;
}

.section
{
    box-sizing: border-box;
    width: 70%;
    height: 15em;
    display: flex;


}